body{
    background-color: white;
    font-family: sans-serif;
    color:black;


}

.inicio{
    background-image: url(../imagens/topo.jpg);
    height: 500px;
    background-position: right center;
    background-size: cover;
    margin:130px;
    margin-top: 30px;
}



.inicio nav li{
    /*Muda o display para não ocupar todo o espaço lateral*/
    display: inline-block;
    list-style: none;
    margin-left: 15px;
    margin-top: 20px;
    font-size:15px;
    text-transform: uppercase;
   letter-spacing: 5px;
   /*espaçamento entre as letras*/
      
}

.logo{
    border-color: black;
    display: inline-block;
}



a{
    text-decoration: none;
    
  
}

.inicio nav ul{
    text-align: right;
   margin: 70px;
}

.titulo{
    text-align: center;
    color:black;
    margin-top: 525px; 
    /* descendo o titulo*/
    font-size: 33px;
    
    
    
}

p{
  
    text-align: center;
    margin:130px;
    margin-top: 150px;
    font-size: 25px;
    line-height: 1.5;
}




.fundoazul{
    background-image: url(../imagens/bg_detalhe.png);
    height: 500px;
    margin:130px;
    background-repeat: no-repeat;
    background-size: cover

}